<h3 class="movie-header">
  <%= movie.title %>
</h3>

<p class="movie-description">
  <%= movie.description %>
</p>

<%= button_to "See Available Tickets", movie_path(movie), { class: "ticket-button" } %>
