<nav>
  <%= link_to_unless_current "Home", root_path %> |
  <%= link_to_unless_current "Add Movie", new_movie_path %> |
  <%= link_to_unless_current "Add Screen", new_screen_path %> |
  <%= link_to_unless_current "View Orders", orders_path %>
</nav>
