<tr> 
	<td> <%= order.id %> </td> 
	<% if order.showtime %>
		<td> <%= number_to_currency order.total %> </td> 
		<td> <span class="movie-title"> <%= order.showtime.movie.title %> </span> </td>
	<% else %>
		<td col-span="2"> N/A </td>
	<% end %>
</tr>