// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ticket-link,
.ticket-link:visited,
.movie-link,
.movie-link:visited {
  color: chocolate;
}

.movie-description {
	font-style: italic;
}

.movie {
	margin-bottom: 9px;
	padding-bottom: 9px;
}

.movie-title {
  font-style: italic;
  color: chocolate;
}

.movie-title-header {
	color: chocolate;
}